<%- include('../partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>
<main>
<h2>
    Posts
</h2>
<p><%for(var i=0; i< photo.length; i++){ %>
<img src="../<%= 'upload/' + photo[i]%>" />
<br />
<%}%>
</p>
</main>
<%- include('../partials/foot.ejs') %>
