<%- include('../partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>
<main>
    <h2>
    Je bent uitgelogd!
</h2>
<a href="/login">Log in</a>
</main>
<%- include('../partials/foot.ejs') %>
