<%- include('../partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>
<main>
<h2>Log hier in</h2>
<form action="/login" method="post">
   <label>
      Gebruikersnaam
       <input type="text" name="username" placeholder="Voer hier je gebruikersnaam in" />
   </label>
   <label>
      Wachtwoord
       <input type="password" name="password" placeholder="Voer hier je wachtwoord in" />
   </label>
   <input type="submit" value="Inloggen" />
</form>
</main>
<%- include('../partials/foot.ejs') %>
