<%- include('../partials/head.ejs') %>
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>
<main>
    <h2>
    Oeps! Je wachtwoord of je gebruikersnaam is verkeerd!
</h2>
<a href="/login">Ga terug</a>
</main>
<%- include('../partials/foot.ejs') %>
