<%- include('../partials/head.ejs') %>
<h2>
    Je wachtwoord én je gebruikersnaam komen niet overeen!
</h2>
<h3>
    Ben je een nieuwe klant?
</h3>
<a href="/register">Registreer</a>
<h3>
    Wél een klant maar alleen een typ-o gemaakt?
</h3>
<a href="/login">Ga terug</a>

<%- include('../partials/foot.ejs') %>
